@import "tailwindcss";

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono[wght].woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Italic[wght].woff2");
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --font-maple: "Maple Mono", monospace;
  --color-bg: #000814;
  --color-fg: #E0E1DD;
  --color-fg-lighter: #F0F0EC;
  --color-special: #FFD60A;
  --color-card: #001D3D;
}
