@import "tailwindcss";

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono[wght].woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Italic[wght].woff2");
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --font-maple: "Maple Mono", monospace;
  --color-bg: #000814;
  --color-fg: #e0e1dd;
  --color-fg-lighter: #f0f0ec;
  --color-special: #ffd60a;
  --color-card: #001d3d;
}
